.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  opacity: 1;
  background-color: #666;
  width: 20px;
  height: 3px;
  border-radius: 0;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet:hover {
  background-color: #007ced;
}
.swiper-pagination-bullet-active {
  background-color: #007ced;
  width: 30px;
}
.swiper-button-prev {
  left: 16px;
}
.swiper-button-next {
  right: 17px;
}
.swiper-button-prev::after {
  font-size: 16px;
  background-color: white;
  padding: 10px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.swiper-button-next::after {
  font-size: 28px;
  background-color: white;
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
