body {
  font-family: "Poppins", Helvetica, sans-serif !important;
  background-color: #007ced;
}

/* utilities  */
.home-photo {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: calc(100% - 36px);
  background-color: #fff;
  border-radius: 1000px;
  border: 18px solid #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}
@keyframes wave {
  0% {
    border-image-slice: 100% 0%;
  }
  50% {
    border-image-slice: 0% 100%;
  }
  100% {
    border-image-slice: 100% 0%;
  }
}
.hp-inner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: block;
  position: absolute;
  top: -18px;
  bottom: -18px;
  width: auto;
  left: -18px;
  right: -18px;
}
.underline-link-li::marker {
  color: #5a43f1;
  font-size: 1.1rem;
  line-height: 1;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}
.underline-link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #5a43f1;
  font-size: 1.05rem;
  letter-spacing: -0.01rem;
  line-height: 1.625;
}
.underline-link:hover {
  background-color: #5a43f1;
  color: white;
  text-decoration: none;
}

.button-primary {
  align-self: center;
  padding: 11px 30px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  border: 2px solid #007ced;
  border-radius: 30px;
  background-color: white;
  font-size: 14px;
  box-shadow: 0 10px 10px -8px #d5d5d5;
  transition: all 0.3s ease;
}
.button-primary:hover {
  background-color: #007ced;
  color: white;
}
.button-secondary {
  border-color: #d5d5d5;
  background-color: #fff;
  box-shadow: 0 10px 10px -8px #d5d5d5;
  color: #666;
}
.button-secondary:hover {
  background-color: #d5d5d5;
}

.block-title {
  font-size: 21px;
  z-index: 1;
  font-weight: 600;
  color: #333;
}
.block-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #f5f5f5;
}
.block-title::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007ced;
}
.hover-shadow {
  box-shadow: none;
  transition: 0.3s all ease;
}
.hover-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: 0.3s all ease-out;
}

.timeline-item {
  position: relative;
  padding: 25px 0 20px 40px;
}
.timeline-item:first-child {
  padding-top: 3px;
}
.timeline-item::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  background-color: #f5f6f9;
  width: 1px;
  left: 15px;
  bottom: 5px;
}
.timeline-item::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  background-color: #f5f6f9;
  width: calc(100% - 15px);
  left: 15px;
  bottom: 3px;
}
.timeline-item h5 {
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 5px -40px;
  color: #666;
  background-color: #fff;
  padding: 0 10px;
  line-height: 23px;
  border: 2px solid #7066ff;
  border-radius: 30px;
}
.clearfix::after {
  content: "";
  display: none;
}
.skill-container {
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  box-sizing: border-box;
  height: 12px;
  margin-bottom: 15px;
  width: 100%;
}
.skill-percentage {
  background-color: #7066ff;
  border: 2px solid #fff;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  height: 8px;
  padding: 0;
}
.page-title {
  display: block;
  position: relative;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 65px 70px;
  margin: auto -70px;
  margin-bottom: 65px;
  text-align: left;
}
.page-subtitle {
  position: absolute;
  top: 0;
  right: 70px;
  display: inline-block;
  padding: 18px 0;
}
.page-title h4 {
  color: #aaa;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
}

.page-container {
  background-color: white;
  display: flex;
  flex-flow: column;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 1240px;
  margin: 3% auto;
  padding: 40px 70px 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.header {
  background-color: white;
  width: calc(100% + 40px);
  margin-left: -20px;
  display: block;
  padding-bottom: 40px;
  position: relative;
}
.logo-symbol {
  width: 44px;
  height: 44px;
  line-height: 44px;
  background-color: #7066ff;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  margin-right: 8px;
  margin-top: 4px;
}
.logo-text {
  line-height: 50px;
  font-size: 20px;
  color: #222;
  font-weight: 600;
}

.vertical-line-after::after {
  content: "";
  height: 14px;
  line-height: 1em;
  display: inline-block;
  margin: 0 9px;
  background-color: #e5e5e5;
  width: 1px;
  top: 2px;
  position: relative;
}
/* .offcanvas.offcanvas-start {
  opacity: 0;
}
.offcanvas.offcanvas-start.show {
  opacity: 1;
} */
.skeleton-loader {
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #aaa;
}

.skeleton-loader__wave {
  width: 100%;
  height: 350px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  background-size: 200% auto;
  animation: wave 1.5s linear infinite;
}

.background-qube {
  width: 140px;
  height: 140px;
  background-color: rgba(220, 220, 220, 0.35);
  border: 5px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.background-qube-tl {
  top: 0;
  left: 0;
  transform: rotate(45deg) translateX(-50%);
}
.background-qube-tr {
  top: 0;
  right: 0;
  transform: rotate(45deg) translateX(-80%) translateY(-50%);
}
.background-qube-br {
  bottom: 0;
  right: 0;
  transform: rotate(45deg) translateX(50%) translateY(0);
}
.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 100;
  display: inline-block;
  padding: 0;
  background-color: #fafafa;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  color: #333;
  opacity: 0;
  border-radius: 8px;
  transition: opacity 0.5s ease-out;
}
.scroll-to-top.show {
  opacity: 1;
}
@keyframes wave {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
@media only screen and (max-width: 570px) {
  .page-container {
    margin: auto 20px;
  }
  .page-title {
    padding: 30px 40px;
    margin-bottom: 40px;
    padding: 30px 70px;
    margin-left: -70px;
    margin-right: -70px;
  }
  .page-subtitle {
    left: 70px;
    top: 60%;
    padding: 0;
  }
}
@media only screen and (max-width: 991px) {
  .logo-symbol {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    margin-top: 0;
  }
  .logo-text {
    display: inline-block;
    line-height: 32px;
    font-size: 18px;
  }
  .header {
    width: 100%;
    z-index: 999;
    padding: 0;
    width: 100vw;
    margin-top: -52px;
    margin-left: -20px;
    margin-right: -20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .header-content {
    padding: 10px 20px;
  }
  .header-content > div {
    width: 100%;
  }
  .page-container {
    border-radius: 0;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    padding: 52px 20px 60px;
  }
}
@media only screen and (max-width: 1420px) and (min-width: 991px) {
  .page-container {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
  }
}
